@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  transition: all .6s ease-out;
  animation-name: sets_opacity;
  animation-duration: 1s;
}

@keyframes sets_opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

div#ReactGridGallery > div {
  justify-content: center;
}

/*body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}*/

a {
  color: inherit;
  text-decoration: none;
}

/*@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}*/


// CAROUSEL STYLES

.carousel .control-arrow,.carousel.carousel-slider .control-arrow {
  -webkit-transition: all .25s ease-in;
  -moz-transition: all .25s ease-in;
  -ms-transition: all .25s ease-in;
  -o-transition: all .25s ease-in;
  transition: all .25s ease-in;
  opacity: .4;
  filter: alpha(opacity=40);
  position: absolute;
  z-index: 2;
  top: 20px;
  background: none;
  border: 0;
  font-size: 32px;
  cursor: pointer
}

.carousel .control-arrow:focus,.carousel .control-arrow:hover {
  opacity: 1;
  filter: alpha(opacity=100)
}

.carousel .control-arrow:before,.carousel.carousel-slider .control-arrow:before {
  margin: 0 5px;
  display: inline-block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  content: ''
}

.carousel .control-disabled.control-arrow {
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: inherit;
  display: none
}

.carousel .control-prev.control-arrow {
  left: 0
}

.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #fff
}

.carousel .control-next.control-arrow {
  right: 0
}

.carousel .control-next.control-arrow:before {
  border-left: 8px solid #fff
}

.carousel-root {
  outline: none;
  box-shadow: 1px -20px 25px -5px rgb(0 0 0 / 10%), 0 8px 10px -6px rgb(0 0 0 / 10%)
}

.carousel {
  position: relative;
  width: 100%
}

.carousel * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.carousel img {
  width: 100%;
  display: inline-block;
  pointer-events: none
}

.carousel .carousel {
  position: relative
}

.carousel .control-arrow {
  outline: 0;
  border: 0;
  background: none;
  top: 50%;
  margin-top: -13px;
  font-size: 18px
}

.carousel .thumbs-wrapper {
  margin: 20px;
  overflow: hidden
}

.carousel .thumbs {
  -webkit-transition: all .15s ease-in;
  -moz-transition: all .15s ease-in;
  -ms-transition: all .15s ease-in;
  -o-transition: all .15s ease-in;
  transition: all .15s ease-in;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: relative;
  list-style: none;
  white-space: nowrap
}

.carousel .thumb {
  -webkit-transition: border .15s ease-in;
  -moz-transition: border .15s ease-in;
  -ms-transition: border .15s ease-in;
  -o-transition: border .15s ease-in;
  transition: border .15s ease-in;
  display: inline-block;
  margin-right: 6px;
  white-space: nowrap;
  overflow: hidden;
  border: 3px solid #fff;
  padding: 2px
}

.carousel .thumb:focus {
  border: 3px solid #ccc;
  outline: none
}

.carousel .thumb.selected,.carousel .thumb:hover {
  border: 3px solid #333
}

.carousel .thumb img {
  vertical-align: top
}

.carousel.carousel-slider {
  position: relative;
  margin: 0;
  overflow: hidden
}

.carousel.carousel-slider .control-arrow {
  top: 0;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  padding: 5px
}

.carousel.carousel-slider .control-arrow:hover {
  background: rgba(0,0,0,0.2)
}

.carousel .slider-wrapper {
  overflow: hidden;
  margin: auto;
  width: 100%;
  -webkit-transition: height .15s ease-in;
  -moz-transition: height .15s ease-in;
  -ms-transition: height .15s ease-in;
  -o-transition: height .15s ease-in;
  transition: height .15s ease-in
}

.carousel .slider-wrapper.axis-horizontal .slider {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex
}

.carousel .slider-wrapper.axis-horizontal .slider .slide {
  flex-direction: column;
  flex-flow: column
}

.carousel .slider-wrapper.axis-vertical {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex
}

.carousel .slider-wrapper.axis-vertical .slider {
  -webkit-flex-direction: column;
  flex-direction: column
}

.carousel .slider {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  width: 100%
}

.carousel .slider.animated {
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out
}

.carousel .slide {
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center
}

.carousel .slide img {
  width: 100%;
  vertical-align: top;
  border: 0
}

.carousel .slide iframe {
  display: inline-block;
  width: calc(100% - 80px);
  margin: 0 40px 40px;
  border: 0
}

.carousel .slide .legend {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -45%;
  width: 90%;
  border-radius: 10px;
  background: #000;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  opacity: 0.25;
  -webkit-transition: opacity .35s ease-in-out;
  -moz-transition: opacity .35s ease-in-out;
  -ms-transition: opacity .35s ease-in-out;
  -o-transition: opacity .35s ease-in-out;
  transition: opacity .35s ease-in-out
}

.carousel .control-dots {
  position: absolute;
  bottom: 0;
  margin: 10px 0;
  padding: 0;
  text-align: center;
  width: 100%;
  z-index: 1
}

@media (min-width: 960px) {
  .carousel .control-dots {
      bottom:0
  }
}

.carousel .control-dots .dot {
  -webkit-transition: opacity .25s ease-in;
  -moz-transition: opacity .25s ease-in;
  -ms-transition: opacity .25s ease-in;
  -o-transition: opacity .25s ease-in;
  transition: opacity .25s ease-in;
  opacity: .3;
  filter: alpha(opacity=30);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.9);
  background: #fff;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  cursor: pointer;
  display: inline-block;
  margin: 0 8px
}

.carousel .control-dots .dot.selected,.carousel .control-dots .dot:hover {
  opacity: 1;
  filter: alpha(opacity=100)
}

.carousel .carousel-status {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 10px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.9);
  color: #fff
}

.carousel:hover .slide .legend {
  opacity: 1
}

.carousel-status {
  width: 100%;
}


// GOOGLE MAPS CSS

.map-h2 {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 20px;
  padding-left: 10px;
  text-align: center;
}

.google-map {
  width: 100%;
  height: 60vh;
}

.pin {
  display: flex;
  align-items: center;
  width: 180px;
  color: var(--main-blue);
}

.pin-icon {
  font-size: 4rem;
}

.pin-text {
  font-size: 1.3em;
}

@media screen and (min-width: 799px) {
  .google-map {
    height: 80vh;
  }

  .map-h2 {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .pin {
    width: 15vw;
  }

  .pin-icon {
    font-size: 10vw;
  }
}

@media all and (min-width: 900px) {
  div.bm-burger-button {
    display: none;
  }

  div.desktop-menu > ul > li {
    transition: .2s;
    padding: .5rem;
    border-radius: 4px;
  }

  div.desktop-menu > ul > li:hover {
    background: black;
    color: white;
  }
}

div#mapwrapper {
  text-align: center;
  text-align: -webkit-center;
}

@media all and (min-width: 600px) {
  div#mapwrapper > iframe {
    width: 90vw;
    height: 60vh;
    border-radius: 11px;
  }

  div#mapwrapper > iframe.small-screens {
    display: none;
  }
}

@media all and (max-width: 600px) {

  div#mapwrapper > iframe {
    width: 100vw;
    height: 60vh;
  }
  
  div#mapwrapper > iframe.big-screens {
    display: none;
  }
}

p.carousel-status {
  text-shadow: 0 0 black !important;
  right: 5px !important;
}


/* DROPDOWN MENU STYLES*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: #212529;
}

.nav-area {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

.logo {
  text-decoration: none;
  font-size: 25px;
  color: inherit;
  margin-right: 20px;
}

.menus {
  display: flex;
  align-items: center;
  list-style: none;
}

@media all and (max-width: 900px) {
  nav:not(.bm-item-list), ul.menus {
    display: none;
  }
}

.menu-items {
  position: relative;
  font-size: 14px;
}

.menu-items a {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

.menu-items li:last-child a {
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}

.menu-items button {
  display: flex;
  align-items: center;
  color: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

li.menu-items a {
  font-size: 1.125rem;
}

button span {
  margin-left: 3px;
}

.menu-items > a, .menu-items button {
  text-align: left;
  padding: 0.7rem 1rem;
}

.menu-items a:hover,
.menu-items button:hover {
  background-color: #f2f2f2;
}

.arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

.dropdown {
  position: absolute;
  right: 0;
  left: auto;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 0.875rem;
  z-index: 9999;
  min-width: 15rem;
  list-style: none;
  background-color: #fff;
  border-radius: 0.5rem;
  display: none;
}

.dropdown.show {
  display: block;
}

.dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: -7px;
}

/* content */

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 20px;
}

.content h2 {
  margin-bottom: 1rem;
}

.content a {
  color: #cc3852;
  margin-right: 10px;
}

li.menu-items:hover ul.dropdown {
  display: block;
}

//Instagram Embeded CSS

@media all and (min-width: 1024px) {
  div.rsme-embed {
    width: 30vw !important;
    max-height: 79vh !important;
    border-bottom: .2px solid gray;
  }
}

@media all and (min-width: 1024px) {
  div.rsme-instagram-embed {
    width: 30vw !important;
    max-height: 79vh !important;
    border-bottom: .2px solid gray;
  }
}

@media all and (max-width: 1024px) {
  div.rsme-embed {
    width: 100% !important;
    height: 100% !important;
  }

  div.rsme-embed iframe {
    border: none !important;
  }
}

@media all and (max-width: 1024px) {
  div.rsme-instagram-embed {
    width: 90vw !important;
    height: 80vh !important;
  }

  div.rsme-instagram-embed iframe {
    border: none !important;
  }
}

@media all and (max-width: 640px) {
  div.rsme-embed {
    width: 100% !important;
    height: 100% !important;
  }

  div.rsme-embed iframe {
    border: none !important;
  }
}

@media all and (max-width: 640px) {
  div.rsme-instagram-embed {
    width: 100% !important;
    height: 100% !important;
  }

  div.rsme-instagram-embed iframe {
    border: none !important;
  }
}

/* Whatsapp floating button */
  div.floating {
    width: 4rem;
    height: 4rem;
  }

  li.dot {
    background-color: black !important;
  }

  /*div.parcerias {
    width: 100vw;
    height: 12rem;
  }

  div.parcerias img {
    width: 20px !important;
    height: 20px !important;
  }*/


  /*Sobre Mim Section*/

  div#sobre-mim {
    background: #4776E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5f56dc, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  div.glider-track {
    margin: 0 4rem;
  }

  /*This is a great color for a dark mode #16222A*/

  /*linear-gradient(177deg, #fcf200 0%, #ff3b00 48%, #f7df1e 100%)*/